<div id="content">        
        
    <div class="container login-maincontentstart">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card border-0 my-5">
                    <div class="card-body p-4 p-sm-5 custbox">
                        <div class="headerlogin">
                            <div class="calender-icon pt-2 text-center">
                                <a href="#"><img
                                        src="../../assets/images/thumbnail_Monitor-Line LOGO.jpg" height="100" width="150"
                                        alt="funded-academy" class="img-responsive"></a>
                            </div>
                        </div>
                        <h5 class="card-title text-center mt-2 mb-4 fw-light fs-5">Welcome to Monitor Line</h5>
                        <form class="loginForm">
                            <div class="form-floating mb-3">
                                <label for="floatingInput">Username</label>
                                <input type="email" class="form-control" id="floatingInput">
                            </div>
                            <div class="form-floating mb-3">
                                <label for="floatingPassword">Password</label>
                                <input type="password" class="form-control" id="floatingPassword">
                            </div>

                            <div class="mb-3 d-grid text-center">
                                <button class="btn btn-primary btn-login text-uppercase fw-bold cntBtn"
                                    type="submit" routerLink="/dashboardpage">Continue</button>
                            </div>
                            <div class="text-center">
                                <a href="" routerLink="/resetpassword" style="color: #007bff;">Forgot password? Retrieve it here.</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>