<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto customMarginTop">
            <div class="card border-0 my-5">
                <div class="card-body p-4 p-sm-5 retrivePassword">
                    <div class="headerlogin">
                        <div class="calender-icon pt-2 text-center">
                            <a href="#"><img
                                    src="../../assets/images/thumbnail_Monitor-Line LOGO.jpg" height="100" width="150"
                                    alt="funded-academy" class="img-responsive"></a>
                        </div>
                    </div>
                    <h5 class="card-title text-center mt-2 mb-3 fw-light fs-5">Retrieve Password</h5>
                    <form class="">
                        <div class="form-floating mb-3">
                            <label for="floatingInput">Email Id</label>
                            <input type="email" class="form-control" id="floatingInput">
                        </div>
                        <div class="mb-3 d-grid text-center">
                            <button class="btn btn-primary btn-login text-uppercase fw-bold forgotpassBtn" type="submit">Retrieve password</button>
                            <div class="text-center">
                                <a href="" routerLink="/login">Login</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>