<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div id="dismiss">
            <i class="fa fa-arrow-left"></i>
        </div>
        <ul class="list-unstyled" style="margin-top:130px;">
            <li>
                <i class="fa fa-home mt-4 icon-size text-warning" aria-hidden="true"></i>
            <li>
                <i class="fa fa-bar-chart mt-4 icon-size text-warning" aria-hidden="true"></i>
            </li>
            <li>
                <i class="fa fa-laptop mt-4 icon-size text-warning"></i>
            </li>                
            
            
        </ul>
    </nav>
    <!-- Page Content  -->
    <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <div class="col-md-2 mt-2 width50">
                    <button type="button" id="sidebarCollapse" class="btn btn-warning text-white">
                        <i class="fa fa-align-left"></i>
                        <span>Menu</span>
                    </button>
                </div>
                <button class="btn btn-warning text-white d-inline-block d-lg-none ml-auto" type="button"
                    data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-align-justify"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="container ml-0 pl-0">
                        <div class="row">
                            
                            <div class="col-md-4 ml-0 pl-0">
                                <div class="calender-icon pt-2">
                                    <a href="#"><img
                                            src="../../assets/images/thumbnail_Monitor-Line LOGO.jpg" height="60"
                                            width="100" alt="monitor-line" class="img-responsive"></a>
                                </div>
                            </div>

                            <div class="col-md-8">
                                <div class="calender-icon pt-3 ml-5 text-right">
                                    
                                    <button class="btn btn-default dropdown-toggle rounded-circle btn-bell"
                                        type="button" id="menu1" data-toggle="dropdown">
                                        <img src="../../assets/images/149071.png" alt="user" height="40" width="40"
                                            class="img-responsive">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">user_1</a>
                                        </li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">user_2</a>
                                        </li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">user_3</a>
                                        </li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">user_4</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="pagecontent">
            <div class="container maincontentstart">
                <h3>Welcome <a href="">testuser1</a> (admin) To Members Area</h3>

                <div class="memberslist">
                    <div class="row mr-0 ml-0">
                        <div class="col-sm-6">
                            <div class="input-group">
                                <input type="text" class="form-control"
                                    aria-label="Text input with segmented dropdown button">
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-primary">Search by UID</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <input type="text" class="form-control"
                                    aria-label="Text input with segmented dropdown button">
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-primary">Search by A/C No</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="memberslisttable">
                        <table class="table table-res">
                            <thead class="thead_bg">
                                <tr>

                                    <th scope="col">Account</th>
                                    <th scope="col">Added on</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">First name</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>

                                    <td>company</td>
                                    <td>2022-04-18 02:01:34</td>
                                    <td>company@monitor-line.com</td>
                                    <td>active</td>
                                    <td>Saumitra</td>
                                    <td class="td-center td-font">
                                        <div class="btn-group">
                                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Action
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#"><i class="fa fa-eye"></i> View
                                                    Report</a>
                                                <a class="dropdown-item" href="#"><i class="fa fa-trash-o"></i>
                                                    Delete
                                                    Accounts</a>
                                                <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Add
                                                    Account</a>
                                                <a class="dropdown-item" href="#"><i
                                                        class="fa fa-envelope-open-o"></i> Show
                                                    Accounts</a>
                                            </div>

                                        </div>
                                    </td>
                                </tr>
                                <tr>

                                    <td>gvprasad44</td>
                                    <td>2022-04-23 15:05:07</td>
                                    <td>gvprasad44@gmail.com</td>
                                    <td>active</td>
                                    <td>vara</td>
                                    <td class="td-center td-font">
                                        <div class="btn-group">
                                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Action
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#"><i class="fa fa-plus"></i> Add
                                                    account</a>
                                                <a class="dropdown-item" href="#"><i class="fa fa-trash-o"></i> Show
                                                    accounts</a>
                                            </div>

                                        </div>
                                    </td>
                                </tr>
                                <tr>

                                    <td>karunakarreddy.santhamgari_2330</td>
                                    <td>2022-05-08 15:30:27</td>
                                    <td>karunakarreddy.santhamgari@desidea.com</td>
                                    <td>active</td>
                                    <td>Karunakar</td>
                                    <td class="td-center td-font">
                                        <div class="btn-group">
                                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Action
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#"><i class="fa fa-eye"></i> View
                                                    Report</a>
                                                <a class="dropdown-item" href="#"><i class="fa fa-trash-o"></i>
                                                    Delete
                                                    Accounts</a>
                                                <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Add
                                                    Account</a>
                                                <a class="dropdown-item" href="#"><i
                                                        class="fa fa-envelope-open-o"></i> Show
                                                    Accounts</a>
                                            </div>

                                        </div>
                                    </td>
                                </tr>
                                <tr>

                                    <td>monitor_line</td>
                                    <td>2022-04-16 01:14:55</td>
                                    <td>monitor_line@yahoo.com</td>
                                    <td>active</td>
                                    <td>SamCh</td>
                                    <td class="td-center td-font">
                                        <div class="btn-group">
                                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Action
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#"><i class="fa fa-eye"></i> View
                                                    Report</a>
                                                <a class="dropdown-item" href="#"><i class="fa fa-trash-o"></i>
                                                    Delete
                                                    Accounts</a>
                                                <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Add
                                                    Account</a>
                                                <a class="dropdown-item" href="#"><i
                                                        class="fa fa-envelope-open-o"></i> Show
                                                    Accounts</a>
                                            </div>

                                        </div>
                                    </td>
                                </tr>
                                <tr>

                                    <td>rajappa.nimmakayala</td>
                                    <td>2022-04-27 09:06:53</td>
                                    <td>rajappa.nimmakayala@gmail.com</td>
                                    <td>active</td>
                                    <td>Rajappa N</td>
                                    <td class="td-center td-font">
                                        <div class="btn-group">
                                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Action
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#"><i class="fa fa-eye"></i> View
                                                    Report</a>
                                                <a class="dropdown-item" href="#"><i class="fa fa-trash-o"></i>
                                                    Delete
                                                    Accounts</a>
                                                <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Add
                                                    Account</a>
                                                <a class="dropdown-item" href="#"><i
                                                        class="fa fa-envelope-open-o"></i> Show
                                                    Accounts</a>
                                            </div>

                                        </div>
                                    </td>
                                </tr>
                                <tr>

                                    <td>Ravi.Shantamgari</td>
                                    <td>2022-05-21 16:56:45</td>
                                    <td>Ravi.Shantamgari@desidea.com</td>
                                    <td>active</td>
                                    <td>RaviChandra</td>
                                    <td class="td-center td-font">
                                        <div class="btn-group">
                                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Action
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#"><i class="fa fa-eye"></i> View
                                                    Report</a>
                                                <a class="dropdown-item" href="#"><i class="fa fa-trash-o"></i>
                                                    Delete
                                                    Accounts</a>
                                                <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Add
                                                    Account</a>
                                                <a class="dropdown-item" href="#"><i
                                                        class="fa fa-envelope-open-o"></i> Show
                                                    Accounts</a>
                                            </div>

                                        </div>
                                    </td>
                                </tr>
                                <tr>

                                    <td>sahithi.alapati</td>
                                    <td>2022-05-03 10:00:31</td>
                                    <td>sahithi.alapati@desidea.com</td>
                                    <td>active</td>
                                    <td>Sahithi</td>
                                    <td class="td-center td-font">
                                        <div class="btn-group">
                                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Action
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#"><i class="fa fa-eye"></i> View
                                                    Report</a>
                                                <a class="dropdown-item" href="#"><i class="fa fa-trash-o"></i>
                                                    Delete
                                                    Accounts</a>
                                                <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Add
                                                    Account</a>
                                                <a class="dropdown-item" href="#"><i
                                                        class="fa fa-envelope-open-o"></i> Show
                                                    Accounts</a>
                                            </div>

                                        </div>
                                    </td>
                                </tr>
                                <tr>

                                    <td>saumitra_chopade_2334</td>
                                    <td>2022-05-21 18:15:28</td>
                                    <td>saumitra_chopade@yahoo.com</td>
                                    <td>active</td>
                                    <td>Saumitra Balkrishna </td>
                                    <td class="td-center td-font">
                                        <div class="btn-group">
                                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Action
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#"><i class="fa fa-eye"></i> View
                                                    Report</a>
                                                <a class="dropdown-item" href="#"><i class="fa fa-trash-o"></i>
                                                    Delete
                                                    Accounts</a>
                                                <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Add
                                                    Account</a>
                                                <a class="dropdown-item" href="#"><i
                                                        class="fa fa-envelope-open-o"></i> Show
                                                    Accounts</a>
                                            </div>

                                        </div>
                                    </td>
                                </tr>
                                <tr>

                                    <td>saumitra.chopade</td>
                                    <td>2022-04-18 01:52:00</td>
                                    <td>saumitra.chopade@gmail.com</td>
                                    <td>active</td>
                                    <td>Dahdgg</td>
                                    <td class="td-center td-font">
                                        <div class="btn-group">
                                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Action
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#"><i class="fa fa-eye"></i> View
                                                    Report</a>
                                                <a class="dropdown-item" href="#"><i class="fa fa-trash-o"></i>
                                                    Delete
                                                    Accounts</a>
                                                <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Add
                                                    Account</a>
                                                <a class="dropdown-item" href="#"><i
                                                        class="fa fa-envelope-open-o"></i> Show
                                                    Accounts</a>
                                            </div>

                                        </div>
                                    </td>
                                </tr>
                                <tr>

                                    <td>tosp2013</td>
                                    <td>2022-04-27 17:22:43</td>
                                    <td>tosp2013@outlook.com</td>
                                    <td>active</td>
                                    <td>STriyansh</td>
                                    <td class="td-center td-font">
                                        <div class="btn-group">
                                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Action
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#"><i class="fa fa-eye"></i> View
                                                    Report</a>
                                                <a class="dropdown-item" href="#"><i class="fa fa-trash-o"></i>
                                                    Delete
                                                    Accounts</a>
                                                <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Add
                                                    Account</a>
                                                <a class="dropdown-item" href="#"><i
                                                        class="fa fa-envelope-open-o"></i> Show
                                                    Accounts</a>
                                            </div>

                                        </div>
                                    </td>
                                </tr>
                                <tr>

                                    <td>tosp2013_2313</td>
                                    <td>2022-04-28 11:54:12</td>
                                    <td>tosp2013@gmail1.com</td>
                                    <td>active</td>
                                    <td>STriyansh</td>
                                    <td class="td-center td-font">
                                        <div class="btn-group">
                                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Action
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#"><i class="fa fa-eye"></i> View
                                                    Report</a>
                                                <a class="dropdown-item" href="#"><i class="fa fa-trash-o"></i>
                                                    Delete
                                                    Accounts</a>
                                                <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Add
                                                    Account</a>
                                                <a class="dropdown-item" href="#"><i
                                                        class="fa fa-envelope-open-o"></i> Show
                                                    Accounts</a>
                                            </div>

                                        </div>
                                    </td>
                                </tr>
                                <tr>

                                    <td>tosp2013_2314</td>
                                    <td>2022-05-04 19:28:10</td>
                                    <td>tosp2013@hotmail1.com</td>
                                    <td>active</td>
                                    <td>STriyansh</td>
                                    <td class="td-center td-font">
                                        <div class="btn-group">
                                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Action
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#"><i class="fa fa-eye"></i> View
                                                    Report</a>
                                                <a class="dropdown-item" href="#"><i class="fa fa-trash-o"></i>
                                                    Delete
                                                    Accounts</a>
                                                <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Add
                                                    Account</a>
                                                <a class="dropdown-item" href="#"><i
                                                        class="fa fa-envelope-open-o"></i> Show
                                                    Accounts</a>
                                            </div>

                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="custfooter">
        <div style="box-shadow: 0px 0px 1px 2px #243a47">
            <div class="container-fluid bg-light">
                <div class="row text-center">
                    <div class="col-lg-4 mt-3">
                        <div>
                            <a href="#"><img src="../../assets/images/thumbnail_Monitor-Line LOGO.jpg" height="100" width="150" alt="monitor-line" class="img-responsive"></a>
                            <p style="color:#000; font-size:15px;">Monitor Line</p>
                            <p style="color:#000;font-size:15px;">ABN: 24 652 401 360</p>
                            <p style="color:#000;font-size:15px;">903/50 Clarence St</p>
                            <p style="color:#000;font-size:15px;">Sydney NSW 2000</p>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-5">
                        <div>
                            <p class="text-dark">Get Started</p>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-5">
                        <p class="text-dark">Contact Us</p>
                    </div>

                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-6">
                        <div style="margin-left:130px; margin-top:30px;">
                            <h3 style="font-size:16px;">PAGES</h3>
                            <ul class="list-unstyled mt-3">
                                <li>Home</li>
                                <li>About Us</li>
                                <li>Pricing</li>
                                <li>Contact Us</li>
                                <li>FAQ</li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="uti">
                            <h3 style="font-size:16px;">UTILITY PAGES</h3>
                            <ul class="list-unstyled mt-3">
                                <li>Coming Soon</li>
                                <li>Term & Condition</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
</div>